---
const today = new Date();
---

<footer class='container mt-8'>
	<div class='py-8 border-t border-earth-300 dark:border-earth-800'>
		<div class='text-sm text-earth-500 dark:text-earth-400 font-mono'>
			© {today.getFullYear()} Phanuphat Srisukhawasu
		</div>
	</div>
</footer>
