---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class:list={[
		className,
		{ 'border-b border-earth-600 dark:border-earth-400': isActive },
		{ 'text-earth-600 dark:text-earth-300 hover:text-earth-900 dark:hover:text-earth-100': !isActive },
		{ 'text-earth-900 dark:text-earth-100': isActive }
	]}
	{...props}
>
	<slot />
</a>
