---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b border-earth-300 dark:border-earth-800'>
	<h3 class='font-semibold mb-4 text-sm font-mono text-earth-800 dark:text-earth-200'>About the Author</h3>
	<Author picSize='md' />
</div>
